PowerPack/v.01/PowerPack/.wsdl/general/vdom.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://services.vdom.net/VDOMServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://services.vdom.net/VDOMServices">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.vdom.net/VDOMServices">
		<s:element name="get_echo">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_echoResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="create_guid">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="create_guidResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="delete_object">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="delete_objectResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_top_objects">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_top_objectsResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="whole_delete">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="whole_deleteResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="search">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="pattern" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="searchResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="keep_alive">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="keep_aliveResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="close_session">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="close_sessionResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="open_session">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="name" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="pwd_md5" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="open_sessionResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_type">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="typeid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_typeResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="send_event">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="evdata" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="send_eventResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_application_info">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="attr" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_application_infoResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="list_applications">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="list_applicationsResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="export_application">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="export_applicationResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="execute_sql">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="dbid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="sql" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="script" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="execute_sqlResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="create_application">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="attr" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="create_applicationResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="submit_object_script_presentation">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="pres" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="submit_object_script_presentationResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="whole_create">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="parentid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="name" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="data" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="whole_createResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="remote_method_call">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="func_name" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="xml_param" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="remote_method_callResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_application_structure">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_application_structureResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_thumbnail">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="resid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="width" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="height" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_thumbnailResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_application_language_data">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_application_language_dataResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_application_structure">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="struct" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_application_structureResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_one_object">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_one_objectResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_name">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="name" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_nameResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="whole_create_page">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="sourceid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="whole_create_pageResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="list_types">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="list_typesResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="create_object">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="parentid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="typeid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="name" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="attr" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="create_objectResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="render_wysiwyg">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="parentid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="dynamic" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="render_wysiwygResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_attributes">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="attr" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_attributesResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_script">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="script" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="lang" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_scriptResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_application_info">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_application_infoResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_script">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="lang" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_scriptResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_child_objects_tree">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_child_objects_treeResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="modify_resource">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="resid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="attrname" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="operation" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="attr" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="modify_resourceResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_child_objects">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_child_objectsResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_resource">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="ownerid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="resid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_resourceResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_code_interface_data">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_code_interface_dataResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_application_events">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_application_eventsResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="about">
			<s:complexType>
				<s:sequence>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="aboutResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_resource">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="restype" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="resname" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="resdata" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_resourceResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_application_events">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="events" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_application_eventsResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="list_resources">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="ownerid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="list_resourcesResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_all_types">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_all_typesResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_attribute">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="attr" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="value" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="set_attributeResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="whole_update">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="data" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="whole_updateResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_object_script_presentation">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="objid" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="get_object_script_presentationResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="install_application">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="sid" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="skey" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="vhname" type="s:string"/>
					<s:element maxOccurs="1" minOccurs="1" name="appxml" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
		<s:element name="install_applicationResponse">
			<s:complexType>
				<s:sequence>
					<s:element maxOccurs="1" minOccurs="1" name="Result" type="s:string"/>
				</s:sequence>
			</s:complexType>
		</s:element>
	</s:schema>
  </types>
  <message name="keep_aliveResponse">
    <part element="s0:keep_aliveResponse" name="parameters">
    </part>
  </message>
  <message name="create_applicationRequest">
    <part element="s0:create_application" name="parameters">
    </part>
  </message>
  <message name="get_resourceRequest">
    <part element="s0:get_resource" name="parameters">
    </part>
  </message>
  <message name="get_child_objectsResponse">
    <part element="s0:get_child_objectsResponse" name="parameters">
    </part>
  </message>
  <message name="list_resourcesResponse">
    <part element="s0:list_resourcesResponse" name="parameters">
    </part>
  </message>
  <message name="get_child_objects_treeRequest">
    <part element="s0:get_child_objects_tree" name="parameters">
    </part>
  </message>
  <message name="create_guidResponse">
    <part element="s0:create_guidResponse" name="parameters">
    </part>
  </message>
  <message name="whole_deleteResponse">
    <part element="s0:whole_deleteResponse" name="parameters">
    </part>
  </message>
  <message name="list_typesRequest">
    <part element="s0:list_types" name="parameters">
    </part>
  </message>
  <message name="close_sessionResponse">
    <part element="s0:close_sessionResponse" name="parameters">
    </part>
  </message>
  <message name="execute_sqlRequest">
    <part element="s0:execute_sql" name="parameters">
    </part>
  </message>
  <message name="set_nameResponse">
    <part element="s0:set_nameResponse" name="parameters">
    </part>
  </message>
  <message name="whole_deleteRequest">
    <part element="s0:whole_delete" name="parameters">
    </part>
  </message>
  <message name="set_application_structureResponse">
    <part element="s0:set_application_structureResponse" name="parameters">
    </part>
  </message>
  <message name="open_sessionResponse">
    <part element="s0:open_sessionResponse" name="parameters">
    </part>
  </message>
  <message name="get_all_typesResponse">
    <part element="s0:get_all_typesResponse" name="parameters">
    </part>
  </message>
  <message name="export_applicationRequest">
    <part element="s0:export_application" name="parameters">
    </part>
  </message>
  <message name="export_applicationResponse">
    <part element="s0:export_applicationResponse" name="parameters">
    </part>
  </message>
  <message name="whole_create_pageResponse">
    <part element="s0:whole_create_pageResponse" name="parameters">
    </part>
  </message>
  <message name="list_applicationsResponse">
    <part element="s0:list_applicationsResponse" name="parameters">
    </part>
  </message>
  <message name="get_thumbnailResponse">
    <part element="s0:get_thumbnailResponse" name="parameters">
    </part>
  </message>
  <message name="get_child_objects_treeResponse">
    <part element="s0:get_child_objects_treeResponse" name="parameters">
    </part>
  </message>
  <message name="set_application_infoResponse">
    <part element="s0:set_application_infoResponse" name="parameters">
    </part>
  </message>
  <message name="set_application_eventsRequest">
    <part element="s0:set_application_events" name="parameters">
    </part>
  </message>
  <message name="modify_resourceRequest">
    <part element="s0:modify_resource" name="parameters">
    </part>
  </message>
  <message name="delete_objectResponse">
    <part element="s0:delete_objectResponse" name="parameters">
    </part>
  </message>
  <message name="create_objectRequest">
    <part element="s0:create_object" name="parameters">
    </part>
  </message>
  <message name="close_sessionRequest">
    <part element="s0:close_session" name="parameters">
    </part>
  </message>
  <message name="get_top_objectsResponse">
    <part element="s0:get_top_objectsResponse" name="parameters">
    </part>
  </message>
  <message name="render_wysiwygResponse">
    <part element="s0:render_wysiwygResponse" name="parameters">
    </part>
  </message>
  <message name="whole_updateResponse">
    <part element="s0:whole_updateResponse" name="parameters">
    </part>
  </message>
  <message name="get_all_typesRequest">
    <part element="s0:get_all_types" name="parameters">
    </part>
  </message>
  <message name="set_application_structureRequest">
    <part element="s0:set_application_structure" name="parameters">
    </part>
  </message>
  <message name="get_application_infoResponse">
    <part element="s0:get_application_infoResponse" name="parameters">
    </part>
  </message>
  <message name="get_scriptResponse">
    <part element="s0:get_scriptResponse" name="parameters">
    </part>
  </message>
  <message name="render_wysiwygRequest">
    <part element="s0:render_wysiwyg" name="parameters">
    </part>
  </message>
  <message name="get_echoResponse">
    <part element="s0:get_echoResponse" name="parameters">
    </part>
  </message>
  <message name="install_applicationRequest">
    <part element="s0:install_application" name="parameters">
    </part>
  </message>
  <message name="send_eventRequest">
    <part element="s0:send_event" name="parameters">
    </part>
  </message>
  <message name="submit_object_script_presentationResponse">
    <part element="s0:submit_object_script_presentationResponse" name="parameters">
    </part>
  </message>
  <message name="get_application_eventsResponse">
    <part element="s0:get_application_eventsResponse" name="parameters">
    </part>
  </message>
  <message name="send_eventResponse">
    <part element="s0:send_eventResponse" name="parameters">
    </part>
  </message>
  <message name="get_echoRequest">
    <part element="s0:get_echo" name="parameters">
    </part>
  </message>
  <message name="list_typesResponse">
    <part element="s0:list_typesResponse" name="parameters">
    </part>
  </message>
  <message name="set_attributeRequest">
    <part element="s0:set_attribute" name="parameters">
    </part>
  </message>
  <message name="aboutResponse">
    <part element="s0:aboutResponse" name="parameters">
    </part>
  </message>
  <message name="get_code_interface_dataRequest">
    <part element="s0:get_code_interface_data" name="parameters">
    </part>
  </message>
  <message name="create_applicationResponse">
    <part element="s0:create_applicationResponse" name="parameters">
    </part>
  </message>
  <message name="get_typeRequest">
    <part element="s0:get_type" name="parameters">
    </part>
  </message>
  <message name="set_application_eventsResponse">
    <part element="s0:set_application_eventsResponse" name="parameters">
    </part>
  </message>
  <message name="aboutRequest">
    <part element="s0:about" name="parameters">
    </part>
  </message>
  <message name="remote_method_callResponse">
    <part element="s0:remote_method_callResponse" name="parameters">
    </part>
  </message>
  <message name="set_scriptResponse">
    <part element="s0:set_scriptResponse" name="parameters">
    </part>
  </message>
  <message name="get_typeResponse">
    <part element="s0:get_typeResponse" name="parameters">
    </part>
  </message>
  <message name="get_application_language_dataRequest">
    <part element="s0:get_application_language_data" name="parameters">
    </part>
  </message>
  <message name="set_resourceRequest">
    <part element="s0:set_resource" name="parameters">
    </part>
  </message>
  <message name="set_nameRequest">
    <part element="s0:set_name" name="parameters">
    </part>
  </message>
  <message name="create_guidRequest">
    <part element="s0:create_guid" name="parameters">
    </part>
  </message>
  <message name="set_attributeResponse">
    <part element="s0:set_attributeResponse" name="parameters">
    </part>
  </message>
  <message name="set_scriptRequest">
    <part element="s0:set_script" name="parameters">
    </part>
  </message>
  <message name="set_resourceResponse">
    <part element="s0:set_resourceResponse" name="parameters">
    </part>
  </message>
  <message name="get_application_structureResponse">
    <part element="s0:get_application_structureResponse" name="parameters">
    </part>
  </message>
  <message name="set_attributesRequest">
    <part element="s0:set_attributes" name="parameters">
    </part>
  </message>
  <message name="whole_create_pageRequest">
    <part element="s0:whole_create_page" name="parameters">
    </part>
  </message>
  <message name="submit_object_script_presentationRequest">
    <part element="s0:submit_object_script_presentation" name="parameters">
    </part>
  </message>
  <message name="install_applicationResponse">
    <part element="s0:install_applicationResponse" name="parameters">
    </part>
  </message>
  <message name="set_application_infoRequest">
    <part element="s0:set_application_info" name="parameters">
    </part>
  </message>
  <message name="list_applicationsRequest">
    <part element="s0:list_applications" name="parameters">
    </part>
  </message>
  <message name="get_one_objectRequest">
    <part element="s0:get_one_object" name="parameters">
    </part>
  </message>
  <message name="get_object_script_presentationResponse">
    <part element="s0:get_object_script_presentationResponse" name="parameters">
    </part>
  </message>
  <message name="get_child_objectsRequest">
    <part element="s0:get_child_objects" name="parameters">
    </part>
  </message>
  <message name="modify_resourceResponse">
    <part element="s0:modify_resourceResponse" name="parameters">
    </part>
  </message>
  <message name="whole_createResponse">
    <part element="s0:whole_createResponse" name="parameters">
    </part>
  </message>
  <message name="list_resourcesRequest">
    <part element="s0:list_resources" name="parameters">
    </part>
  </message>
  <message name="get_application_infoRequest">
    <part element="s0:get_application_info" name="parameters">
    </part>
  </message>
  <message name="searchResponse">
    <part element="s0:searchResponse" name="parameters">
    </part>
  </message>
  <message name="execute_sqlResponse">
    <part element="s0:execute_sqlResponse" name="parameters">
    </part>
  </message>
  <message name="remote_method_callRequest">
    <part element="s0:remote_method_call" name="parameters">
    </part>
  </message>
  <message name="get_object_script_presentationRequest">
    <part element="s0:get_object_script_presentation" name="parameters">
    </part>
  </message>
  <message name="get_application_eventsRequest">
    <part element="s0:get_application_events" name="parameters">
    </part>
  </message>
  <message name="keep_aliveRequest">
    <part element="s0:keep_alive" name="parameters">
    </part>
  </message>
  <message name="get_application_structureRequest">
    <part element="s0:get_application_structure" name="parameters">
    </part>
  </message>
  <message name="delete_objectRequest">
    <part element="s0:delete_object" name="parameters">
    </part>
  </message>
  <message name="get_one_objectResponse">
    <part element="s0:get_one_objectResponse" name="parameters">
    </part>
  </message>
  <message name="get_thumbnailRequest">
    <part element="s0:get_thumbnail" name="parameters">
    </part>
  </message>
  <message name="get_scriptRequest">
    <part element="s0:get_script" name="parameters">
    </part>
  </message>
  <message name="searchRequest">
    <part element="s0:search" name="parameters">
    </part>
  </message>
  <message name="whole_updateRequest">
    <part element="s0:whole_update" name="parameters">
    </part>
  </message>
  <message name="get_resourceResponse">
    <part element="s0:get_resourceResponse" name="parameters">
    </part>
  </message>
  <message name="open_sessionRequest">
    <part element="s0:open_session" name="parameters">
    </part>
  </message>
  <message name="set_attributesResponse">
    <part element="s0:set_attributesResponse" name="parameters">
    </part>
  </message>
  <message name="get_code_interface_dataResponse">
    <part element="s0:get_code_interface_dataResponse" name="parameters">
    </part>
  </message>
  <message name="get_top_objectsRequest">
    <part element="s0:get_top_objects" name="parameters">
    </part>
  </message>
  <message name="get_application_language_dataResponse">
    <part element="s0:get_application_language_dataResponse" name="parameters">
    </part>
  </message>
  <message name="create_objectResponse">
    <part element="s0:create_objectResponse" name="parameters">
    </part>
  </message>
  <message name="whole_createRequest">
    <part element="s0:whole_create" name="parameters">
    </part>
  </message>
  <portType name="vdomService">
    <operation name="get_echo">
      <input message="s0:get_echoRequest">
    </input>
      <output message="s0:get_echoResponse">
    </output>
    </operation>
    <operation name="create_guid">
      <input message="s0:create_guidRequest">
    </input>
      <output message="s0:create_guidResponse">
    </output>
    </operation>
    <operation name="delete_object">
      <input message="s0:delete_objectRequest">
    </input>
      <output message="s0:delete_objectResponse">
    </output>
    </operation>
    <operation name="get_top_objects">
      <input message="s0:get_top_objectsRequest">
    </input>
      <output message="s0:get_top_objectsResponse">
    </output>
    </operation>
    <operation name="whole_delete">
      <input message="s0:whole_deleteRequest">
    </input>
      <output message="s0:whole_deleteResponse">
    </output>
    </operation>
    <operation name="search">
      <input message="s0:searchRequest">
    </input>
      <output message="s0:searchResponse">
    </output>
    </operation>
    <operation name="keep_alive">
      <input message="s0:keep_aliveRequest">
    </input>
      <output message="s0:keep_aliveResponse">
    </output>
    </operation>
    <operation name="close_session">
      <input message="s0:close_sessionRequest">
    </input>
      <output message="s0:close_sessionResponse">
    </output>
    </operation>
    <operation name="open_session">
      <input message="s0:open_sessionRequest">
    </input>
      <output message="s0:open_sessionResponse">
    </output>
    </operation>
    <operation name="get_type">
      <input message="s0:get_typeRequest">
    </input>
      <output message="s0:get_typeResponse">
    </output>
    </operation>
    <operation name="send_event">
      <input message="s0:send_eventRequest">
    </input>
      <output message="s0:send_eventResponse">
    </output>
    </operation>
    <operation name="set_application_info">
      <input message="s0:set_application_infoRequest">
    </input>
      <output message="s0:set_application_infoResponse">
    </output>
    </operation>
    <operation name="list_applications">
      <input message="s0:list_applicationsRequest">
    </input>
      <output message="s0:list_applicationsResponse">
    </output>
    </operation>
    <operation name="export_application">
      <input message="s0:export_applicationRequest">
    </input>
      <output message="s0:export_applicationResponse">
    </output>
    </operation>
    <operation name="execute_sql">
      <input message="s0:execute_sqlRequest">
    </input>
      <output message="s0:execute_sqlResponse">
    </output>
    </operation>
    <operation name="create_application">
      <input message="s0:create_applicationRequest">
    </input>
      <output message="s0:create_applicationResponse">
    </output>
    </operation>
    <operation name="submit_object_script_presentation">
      <input message="s0:submit_object_script_presentationRequest">
    </input>
      <output message="s0:submit_object_script_presentationResponse">
    </output>
    </operation>
    <operation name="whole_create">
      <input message="s0:whole_createRequest">
    </input>
      <output message="s0:whole_createResponse">
    </output>
    </operation>
    <operation name="remote_method_call">
      <input message="s0:remote_method_callRequest">
    </input>
      <output message="s0:remote_method_callResponse">
    </output>
    </operation>
    <operation name="get_application_structure">
      <input message="s0:get_application_structureRequest">
    </input>
      <output message="s0:get_application_structureResponse">
    </output>
    </operation>
    <operation name="get_thumbnail">
      <input message="s0:get_thumbnailRequest">
    </input>
      <output message="s0:get_thumbnailResponse">
    </output>
    </operation>
    <operation name="get_application_language_data">
      <input message="s0:get_application_language_dataRequest">
    </input>
      <output message="s0:get_application_language_dataResponse">
    </output>
    </operation>
    <operation name="set_application_structure">
      <input message="s0:set_application_structureRequest">
    </input>
      <output message="s0:set_application_structureResponse">
    </output>
    </operation>
    <operation name="get_one_object">
      <input message="s0:get_one_objectRequest">
    </input>
      <output message="s0:get_one_objectResponse">
    </output>
    </operation>
    <operation name="set_name">
      <input message="s0:set_nameRequest">
    </input>
      <output message="s0:set_nameResponse">
    </output>
    </operation>
    <operation name="whole_create_page">
      <input message="s0:whole_create_pageRequest">
    </input>
      <output message="s0:whole_create_pageResponse">
    </output>
    </operation>
    <operation name="list_types">
      <input message="s0:list_typesRequest">
    </input>
      <output message="s0:list_typesResponse">
    </output>
    </operation>
    <operation name="create_object">
      <input message="s0:create_objectRequest">
    </input>
      <output message="s0:create_objectResponse">
    </output>
    </operation>
    <operation name="render_wysiwyg">
      <input message="s0:render_wysiwygRequest">
    </input>
      <output message="s0:render_wysiwygResponse">
    </output>
    </operation>
    <operation name="set_attributes">
      <input message="s0:set_attributesRequest">
    </input>
      <output message="s0:set_attributesResponse">
    </output>
    </operation>
    <operation name="set_script">
      <input message="s0:set_scriptRequest">
    </input>
      <output message="s0:set_scriptResponse">
    </output>
    </operation>
    <operation name="get_application_info">
      <input message="s0:get_application_infoRequest">
    </input>
      <output message="s0:get_application_infoResponse">
    </output>
    </operation>
    <operation name="get_script">
      <input message="s0:get_scriptRequest">
    </input>
      <output message="s0:get_scriptResponse">
    </output>
    </operation>
    <operation name="get_child_objects_tree">
      <input message="s0:get_child_objects_treeRequest">
    </input>
      <output message="s0:get_child_objects_treeResponse">
    </output>
    </operation>
    <operation name="modify_resource">
      <input message="s0:modify_resourceRequest">
    </input>
      <output message="s0:modify_resourceResponse">
    </output>
    </operation>
    <operation name="get_child_objects">
      <input message="s0:get_child_objectsRequest">
    </input>
      <output message="s0:get_child_objectsResponse">
    </output>
    </operation>
    <operation name="get_resource">
      <input message="s0:get_resourceRequest">
    </input>
      <output message="s0:get_resourceResponse">
    </output>
    </operation>
    <operation name="get_code_interface_data">
      <input message="s0:get_code_interface_dataRequest">
    </input>
      <output message="s0:get_code_interface_dataResponse">
    </output>
    </operation>
    <operation name="get_application_events">
      <input message="s0:get_application_eventsRequest">
    </input>
      <output message="s0:get_application_eventsResponse">
    </output>
    </operation>
    <operation name="about">
      <input message="s0:aboutRequest">
    </input>
      <output message="s0:aboutResponse">
    </output>
    </operation>
    <operation name="set_resource">
      <input message="s0:set_resourceRequest">
    </input>
      <output message="s0:set_resourceResponse">
    </output>
    </operation>
    <operation name="set_application_events">
      <input message="s0:set_application_eventsRequest">
    </input>
      <output message="s0:set_application_eventsResponse">
    </output>
    </operation>
    <operation name="list_resources">
      <input message="s0:list_resourcesRequest">
    </input>
      <output message="s0:list_resourcesResponse">
    </output>
    </operation>
    <operation name="get_all_types">
      <input message="s0:get_all_typesRequest">
    </input>
      <output message="s0:get_all_typesResponse">
    </output>
    </operation>
    <operation name="set_attribute">
      <input message="s0:set_attributeRequest">
    </input>
      <output message="s0:set_attributeResponse">
    </output>
    </operation>
    <operation name="whole_update">
      <input message="s0:whole_updateRequest">
    </input>
      <output message="s0:whole_updateResponse">
    </output>
    </operation>
    <operation name="get_object_script_presentation">
      <input message="s0:get_object_script_presentationRequest">
    </input>
      <output message="s0:get_object_script_presentationResponse">
    </output>
    </operation>
    <operation name="install_application">
      <input message="s0:install_applicationRequest">
    </input>
      <output message="s0:install_applicationResponse">
    </output>
    </operation>
  </portType>
  <binding name="vdomService" type="s0:vdomService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="get_echo">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_echo" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="create_guid">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/create_guid" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="delete_object">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/delete_object" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_top_objects">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_top_objects" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="whole_delete">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/whole_delete" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="search">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/search" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="keep_alive">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/keep_alive" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="close_session">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/close_session" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="open_session">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/open_session" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_type">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_type" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="send_event">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/send_event" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="set_application_info">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/set_application_info" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="list_applications">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/list_applications" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="export_application">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/export_application" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="execute_sql">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/execute_sql" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="create_application">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/create_application" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="submit_object_script_presentation">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/submit_object_script_presentation" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="whole_create">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/whole_create" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="remote_method_call">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/remote_method_call" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_application_structure">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_application_structure" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_thumbnail">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_thumbnail" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_application_language_data">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_application_language_data" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="set_application_structure">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/set_application_structure" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_one_object">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_one_object" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="set_name">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/set_name" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="whole_create_page">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/whole_create_page" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="list_types">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/list_types" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="create_object">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/create_object" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="render_wysiwyg">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/render_wysiwyg" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="set_attributes">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/set_attributes" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="set_script">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/set_script" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_application_info">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_application_info" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_script">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_script" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_child_objects_tree">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_child_objects_tree" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="modify_resource">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/modify_resource" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_child_objects">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_child_objects" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_resource">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_resource" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_code_interface_data">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_code_interface_data" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_application_events">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_application_events" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="about">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/about" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="set_resource">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/set_resource" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="set_application_events">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/set_application_events" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="list_resources">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/list_resources" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_all_types">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_all_types" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="set_attribute">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/set_attribute" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="whole_update">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/whole_update" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="get_object_script_presentation">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/get_object_script_presentation" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
    <operation name="install_application">
      <soap:operation soapAction="http://services.vdom.net/VDOMServices/install_application" style="document"/>
      <input>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </input>
      <output>
        <soap:body namespace="http://services.vdom.net/VDOMServices" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="vdom">
    <port binding="s0:vdomService" name="vdomService">
      <soap:address location="http://192.168.0.65:80/SOAP"/>
    </port>
  </service>
</definitions>